body{
    background-color: #767676;
}
table{
    text-align: center;
    border: 1px solid gray;
    border-collapse: collapse;
    background-color: rgb(67, 64, 64);
    color: beige;
}
td{
    border: 1px solid rgb(255, 255, 255);
    border-collapse:collapse;
    background-color: rgb(77, 71, 71);
}
th{
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}
.segtab td{
    color: #000000;
    background-color: beige;
    border: 1px solid black;
    text-align: right;
}
.segtab th{
    background-color: #16772a;
    color: black;
    border: 1.5px solid black
}
.segtab table{
    border-color: black;
    border: 2px solid black
}